!build/.keep
build/
/build-m5-*/
/build-j873-diagnostic/
/build-j873-reference/
__pycache__
*.pyc
*.macho
*.swp
*.orig
*.rej
/rust/target
.idea
/m1n1\.spec
/m1n1-rust-deps\.patch
/rust-fatfs-fix-build-log\.patch
/m1n1-*\.src\.rpm
/m1n1-*\.tar\.gz
/rust-fatfs-*\.tar\.gz
.vscode/
/.venv/
null.d
/tools/ghidra/*-decomp.txt
